body {
    font-family: Arial;
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: blue;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
}

h2 {
    color: darkblue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}